<p>
	<strong>FirstName:</strong>
	<%=@detail.FirstName%>
		<strong>LastName:</strong>
	<%=@detail.LastName%>
		<strong>Address:</strong>
	<%=@detail.Address%>
</p>

<h2>Comments</h2>
<%= render @detail.comments %>

<h2> Leave a comment </h2>
<%= render 'comments/form' %>

<%= link_to 'Edit', edit_detail_path(@detail) %> |
<%= link_to 'Back', details_path %>